html, body{
	margin: 0px auto;
	padding: 0px auto; 
	width: 100%;
	height:3500px;
	background: white;
	font-family: 'Playfair Display', serif;
}
header{
    margin: 0px auto;
	padding: 0px auto;
     width: 100%;
	height: 165px;
}
.top-nav{
	margin: 0px auto;
	padding: 0px auto;
	height: 38px;
	width: 100%;
	background: #f9b1b1;
}
.top-nav ul{
	margin: 0px auto;
	padding-top: 5px;
	padding-left: 60%;
}
.top-nav .tel{
	font-size: 12px;
	color: #bf2727;
	padding: 10px 0 0 100px;
	position: absolute;
	font-weight: bold;
}
.top-nav img{
	padding: 14px 0 0 80px;
	position: absolute;
}
.top-nav ul li{
	list-style: none;
	display: inline-block;
	padding:0 35px 0 20px;
	border-right: 1px solid grey;
	width: auto;
}

.top-nav ul li a{
	text-decoration: none;
	color: #bf2727;
	display:block;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}
.top-nav ul li:last-child{
	border-right: none;
}
.top-font{
	width: 100%;
	height:121px;
	background: #ffbbbb;
	position: relative;
}
.bot-nav{
	height: 96px;
	width: 99%;
	background: white;
	position: absolute;
	top: 63px;
}
.bot-nav ul{
	margin: 0px;
	padding: 0px;
	margin: 10px 0 0 78px;
}
.bot-nav ul li{
	list-style: none;
	display: inline-block;
	padding-right: 25px;
}
.bot-nav ul li a{
	text-decoration: none;
	color: black;
	display:block;
	font-size: 20px;
	font-style: italic;
}
.bot-nav img{
	margin: -30px 0 0 42%;
}
.share{
	  width: 200px;
    margin: -5% 0 0 75%;
}
.soc{
	display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    background:white url("soc-sprite.png") no-repeat;
    vertical-align: middle;
    border-radius: 50%;
}
.fb{
	background-position: -2px 0;
}
.tw{
	background-position: -47px 0;
}
.cr{
	background-position: -96px 0;
}
.inst{
	background-position: -142px 0;
}
.bot-nav select{
	width: 90px;
	height: 35px;
	position: absolute;
    color: white;
    background: black;
    border: none;
}
.bot-nav select:focus{
outline: rgba(255,255,255,.4) 1000em solid;
}
/* КОНЕЦ ХЕДЕРА......................................*/

.main-content{
	margin: 0px;
	padding: 0px;
     width: 100%;
	min-height: 2000px;
	background:#ffbbbb;
}
.slider img{
	margin: 0px;
	padding: 0px;
     width: 100%;
}
.slider {
	background: white;
	width: 99%;
	margin-top: -8px;
	padding: 0px;
}
.slider-sale{
	position: absolute;
	min-width: 200px;
	min-height: 200px;
	border:2px solid #bdbab8;
   outline-style: solid;
   outline-width: 1px;
   outline-color: rgb(255, 255, 255);
   outline-offset: 6px;
   top: 50%;
   left: 43%;
   display: block;
}
.slider-sale{
	text-transform:uppercase;
	text-align:center;
	vertical-align: middle;
}
.slider-sale .one{
	color: white;
	font-size: 18px;
	text-align:center;
	padding-top: 10px;
}
.slider-sale h2{
	color: black;
	font-size: 35px;
	font-weight: lighter;
}
.slider-sale .two{
	color: white;
	font-size: 14px;
	margin-top: -30px;
}
.slider-sale .three{
	color: black;
	font-size: 28px;
	margin-top: 20px;
	font-weight: bold;
}
.shop-now{
	position: absolute;
   text-align: center;
   top: 90%;
   left: 590px;
}
.support {
	position: relative;
	width: 100%;
}
.support h3{
position: absolute;
top: -25px;
padding-left: 130px;
color: white;
font-size: 32px;
}
.support p{
position: absolute;
position: absolute;
top: 30px;
padding-left: 130px;
color: white;
font-size: 22px;


}
.support ul{
	margin: 65px 0;
	padding: 0px;
}
.support ul li{
	display: inline-block;
	padding-right: 4px;
}
.handpicked{
	width: 100%;
	height: 1000px;
	background: white;
	position: relative;
	border-top: 2px dotted grey;
}
.boots{
	float: left;
		margin-left: 20px;
		outline-style: solid;
        outline-width: 3px;
        outline-color: rgb(255, 255, 255);
        outline-offset: -15px;
}
.paris{
	float: left;
		margin-left: 20px;
		outline-style: solid;
        outline-width: 3px;
        outline-color: rgb(255, 255, 255);
        outline-offset: -15px;
}
.bracer{
	float: right;
		margin-right: 20px;
		outline-style: solid;
        outline-width: 3px;
        outline-color: rgb(255, 255, 255);
        outline-offset: -15px;
}
.bracer2{
	    float: left;
	    clear: both;
		margin-left: 20px;
		position: relative;
		top: -405px;
		outline-style: solid;
        outline-width: 3px;
        outline-color: rgb(255, 255, 255);
        outline-offset: -15px;
}
.pocketbook{
	    float: right;
		position: relative;
		top: -405px;
		left: -28px;
		outline-style: solid;
        outline-width: 3px;
        outline-color: rgb(255, 255, 255);
        outline-offset: -15px;
}
.handpicked h3{
	font-size: 30px;
	text-align: center;
}